{% extends "base.html" %}
{% block title %}Machine Learning Database Interacting User Interface{% endblock %}

{% block robots %}index,follow{% endblock %}

{% block description %}{% endblock %}

{% block content %}
<html>
    <body>
        <p>Hello, this site is designed to show an example of using Python to deploy a Machine Learning solution 
            to a web application.  Check out the github repository to see all the code underlying the site.
        </p>
        <p>
            We will be using the California Housing dataset provided within Scikit-learn.
        </p>
        <p>
            Get started by generating a new prediction by selecting Get Prediction in the menu at the top of the page.  
            To test the models accuracies by comparing an entry where you know the values, go to the Test Models link at the top of the page.
        </p>
    </body>
</html> 
{% endblock %}
    