{% extends "base.html" %}
{% block title %}Machine Learning Database Interacting User Interface{% endblock %}

{% block robots %}index,follow{% endblock %}

{% block description %}{% endblock %}

{% block content %}
<html>
    <body>
        <p>
            Enter values to test the models.  All fields must be filled.  They have been pre-populated with an 
            in-sample observation.
        </p>
        <form action="" method="post" novalidate>
            {{ input_form.hidden_tag() }}
            {{ input_form.med_inc.label}} {{ input_form.med_inc}} 
            {% for error in input_form.med_inc.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ input_form.avg_house_age.label}} {{ input_form.avg_house_age}}
            {% for error in input_form.avg_house_age.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ input_form.avg_rooms.label}} {{ input_form.avg_rooms}}
            {% for error in input_form.avg_rooms.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ input_form.avg_bedrooms.label}} {{ input_form.avg_bedrooms}}
            {% for error in input_form.avg_bedrooms.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ input_form.population.label}} {{ input_form.population}}
            {% for error in input_form.population.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ input_form.avg_occupancy.label}} {{ input_form.avg_occupancy}}
            {% for error in input_form.avg_occupancy.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br><br>
            Enter a known value prediction.
            <br>
            {{ input_form.prediction.label}} {{ input_form.prediction}}
            {% for error in input_form.prediction.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ input_form.submit(class="btn btn-outline-login2") }}
        </form>
    </body>
</html> 
{% endblock %}
    